.header-container {
	color: white;
	background: black;
}

#bio {
	color: white;
	background: black;
}

#i_could_live_in_hope {
	color: white;
	background: black;
}

#double_negative {
	color: white;
	background: black;
}

#links {
	color: white;
	background: black;
}