@import	url(reset.css);

header {
	width: 1440px;
	padding: 20px 50px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;

	background: #FFFFFF;
}

.header-title {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;

	color: #E50043;
}

.navigation {
	font-family: Arial;
	font-size: 35px;
	line-height: 57px;
	text-decoration: none;

	color: #E50043;
}

.logo-section {
	width: 1440px;
	height: 950px;
	
	background-image: url(../img/evian_origins_logo.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	
}

.logo-text {
	margin: auto;

	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 115px;
	display: flex;
	align-items: center;
	text-align: center;

	color: #E50043;
}

.main-description {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.promo-text {
	margin: 144px;
	padding: 20px;

	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	align-items: center;
	letter-spacing: 0.05em;

	color: #000000;

	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
}

.bottle {
	width: 280px;
	justify-content: center;
	text-align: center;
}

.bottle p {
	padding: 30px;

	font-family: Arial;
	font-size: 25px;
	line-height: 29px;

	color: #000000;
}

.composition {
	margin: 144px;
	padding: 30px;

	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-items: center;
	letter-spacing: 0.05em;

	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
}

.image-composition {
 	padding: 30px 80px;
}

.footer {
	width: 1440px;
	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;

	background: #F8BFC7;
}

.footer-text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	display: flex;
	align-items: center;
	text-decoration: none;

	color: #FFFFFF;
}

