@import	url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Raleway:wght@100;300&display=swap');

body {
	background-image: url(https://images.unsplash.com/photo-1584679109691-1d0c852bc5bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

.header {
	width: 100vw;
	height: 5vh;
	min-height: 120px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: snow;
}

.header-text {

	font-family: 'Rajdhani', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5em;
	font-weight: bold;

	text-transform: uppercase;

	color: #000000;
}

.content-container {
	width: 80vw;
	margin: 70px auto;
	min-height: 500px;
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
}

.column {
	width: calc((100% - 100px)/3);

	border: 2px solid #000000;
	box-sizing: border-box;

	background-color: snow;
}

.image-1 {
 	background-image: url(https://f4.bcbits.com/img/a3874459819_10.jpg);
 	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}


.headlines {
	font-family: 'Rajdhani', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5em;
	margin: 2vw;
		
	color: #000000;
}

.column-text {
	font-family: 'Rajdhani', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5em;
	margin: 2vw;

	color: #000000;
}

.image-2 {
	background-image: url(https://f4.bcbits.com/img/a2642806916_10.jpg);
 	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}


.image-3 {
	background-image: url(https://f4.bcbits.com/img/a3788152425_10.jpg);
 	background-size: cover;
	background-position: center;
	padding-bottom: 100%;
}

.footer {
	width: 100vw;
	min-height: 60px;
	height: 5vh;
	
	display: flex;
	justify-content: center;
	align-items: center;

	background: snow;
}

.footer-text {
	margin: auto;

	font-family: 'Rajdhani', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5em;
	text-align: center;
	font-weight: bold;

	color: #000000;
}